// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white_fit: rgba(228, 212, 187,0.5);
$bianco-sf:rgba(228, 212, 187,0.7);
$white_team: rgba(41, 29, 33, 1);
$white_fit_font: rgba(185, 192, 23, 1);
$white_team_font: rgba(215, 48, 27, 1);
