.container-fluid {
    height: 800px;
    margin-top: 30px;
    background: rgb(9,63,71);
background: -webkit-linear-gradient(left, rgba(9,63,71,1) 0%, rgba(139,146,149,1) 53%, rgba(237,241,245,1) 100%);
background: -o-linear-gradient(left, rgba(9,63,71,1) 0%, rgba(139,146,149,1) 53%, rgba(237,241,245,1) 100%);
background: linear-gradient(to right, rgba(9,63,71,1) 0%, rgba(139,146,149,1) 53%, rgba(237,241,245,1) 100%);
    .container {
        max-width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }
}
.container-testo-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
#testata {
    color: white;
    text-align: center;
    font-size: 90px;
    font-weight: 800;
    padding-bottom: 50px;
}
#testo-testata {
    max-width: 820px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.bottoni-fila {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#btn-whiteteam {
    width: 140px;
    height: 60px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: $bianco-sf;
    transition: 0.2s;
    color: black;
    &:hover {
        // background-color: $white_team;
        color: white;
    }
}

#contattaci-freccia {
    text-align: center;
    padding-top: 80px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0;

}

.frecciona-div {
    position: relative;
    bottom: 0;
    color: white;
    transition: 0.2s;
    &:hover {
        cursor: pointer;
        transform: translateY(-50px);
        filter: brightness(1) invert(0);
    }
}

#immagine-freccione {
    filter: brightness(0) invert(1);
    transition: 0.2s;
    // &:hover {
    //     filter: brightness(1) invert(0);
    //     cursor: pointer;
    //     transform: translateY(-50px);
    // }
}

.divisorio {
    height: 200px;
    width: 100%;
    background-color: #ABC502;
}

.container-divisione {
    width: 100%;
    height: 1000px;
    display: flex;
    h2 {
        font-size: 40px;
        font-weight: bold;
    }
    h4 {
        padding-top: 60px;
        font-size: 16px;
        font-weight: bolder;
    }
    .parte-sx{
        width: 100%;
        height: 100%;
        background-color: white;
        color: black;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        .logo-sx {
            padding: 50px 0;
        }
        .testo-logo-sx {
            padding: 50px 0;
        }
        .informazioni-logo-sx {
            padding: 50px 0;
        }

    }

    .parte-dx {
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        .logo-dx {
            padding: 50px 0;
        }
        .testo-logo-dx {
            padding: 50px 0;
        }
        .informazioni-logo-dx {
            padding: 50px 0;
        }
    }
}

.divisorio-orari {
    width: 100%;
    height: 1200px;
    display: flex;

}
.tabella-orari {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .tabellina {
        height: 80%;
        width: 80%;
        margin: auto;
        background-color: rgba(255,255,255,0.7);
        transform: translateY(12.5%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        h1 {
            font-size: 60px;
            font-weight: bold;
            padding: 50px;
            text-align: center;
        }
        .tabellina-divisa {
            height: 80%;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 60px;
        }
    }
}

.divisione-in-colonne {
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    width: calc(90% / 7);
}

.spazio-nero {
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
    height: calc(100%/13);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    line-height: 18px;
}

.pilates-font {
    background-color: rgb(197, 113, 111);

}

.gag-font {
    background-color: rgb(98, 136, 58);
}

.spazio-bianco {
    width: 100%;
    height: calc(100%/13);
}

.doppio-spazio {
    height: calc((100%/13)*3);
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    line-height: 18px;
    border: 1px solid black;
}

.kickfit-font {
    background-color: rgb(208, 203, 190);
}

.krav-font {
    background-color: rgb(200, 173, 138);
}

.totalbody-font {
    background-color: red;
    color: white;
}

.funzionale-font {
    background-color: rgb(197, 179, 51);
}

.bjjbaby-font, .brasilian-font {
    color: white;
    background-color: rgb(4, 87, 134);
}

.step-font {
    color: white;
    background-color: rgb(60, 34, 32);
}

.bruciagrassi-font {
    color: white;
    background-color: rgb(26, 54, 38);
}

.kickk1-font {
    background-color: rgb(188, 94, 34);
}

.fusion-font {
    background-color: rgb(77, 125, 73);
}



.giorni-settimana {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    span {
        font-size: 20px;
        font-weight: bolder;
        width: calc(90% / 7);
        text-transform: uppercase;
        text-align: center;
    }
}

#altezza-incremento {
    height: 800px;
}

.divisorio-contatti {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    background-color: #ABC502;
    color: #757575;
}
.contatti-sx {
    width: 50%;
    height: 80%;
    background-color: #E0E0E0;
    padding: 50px;
}

.contatti-dx {
    width: 50%;
    height: 80%;
    background-color: #E0E0E0;
    padding: 50px;
}

#map {
  height: 400px;
  width: 100%;
}

.contatti-specs {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.form-email-invio {

}

.contatti-info {
    font-size: 20px;
}

#icone-fontawesome-contatti {
    font-size: 40px;
    padding-right: 20px;
}

#mappa-google {
    height: 100%;
    width: 100%;
}

.mappa-immagine {
    width: 100%;
    height: 100%;
    &:hover {
        opacity: 0.8;   
    }
}
